body{
background-color: #DAEDFF;
font-family: 'Roboto Slab', sans-serif;
}
.bg-primary{
background: #000000 !important;
}

.banner {
width:100%;
height:93vh;
background: radial-gradient(rgba(0,35,68,-8),rgba(0,35,68,0.5)),url(../images/hero5.png);
display: flex;
    justify-content: center;
        flex-direction: column;
}
.fknbox {
         cursor: pointer;
         text-align: center;
         display: flex;
         width: 50%;
         min-height: 60%;
         background: white;
         border-radius: 0px;
         border: 5px solid black;
         transition: all .2s;
         box-color: black;
         box-shadow: 10px 10px 0px 0px;
         color: black;
             flex-wrap: wrap;
             align-content: center;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;

        }

        .fknbox2 {
                 background: white;
                 border-radius: 0px;
                 border: 5px solid black;
                 transition: all .2s;
                 box-color: black;
                 box-shadow: 10px 10px 0px 0px;
                 color: black;
                }

        .fknbox-register {
        }

        .nav-link {
        color: black;

        }

.navbar {
  background: white;
          border-radius: 0px;
          border-bottom: 5px solid black;
          color: black;
 }

 .show {
 text-align: end;
 }


        .fknbox:hover {
         box-shadow: -10px 10px 0px 0px;
        }


.btn {
  border: 2px solid black;
  font-weight: bold;
  letter-spacing: 0.05em;
      margin: 10px; /* lagt till 20px istället för 10 */
      border-radius: 0px;
      font-weight: bold;
      cursor: pointer;
      transition: ease .3s;
      box-shadow: 2px 2px 2px 0px black;
}


.btn:hover,
.btn:focus {
 box-shadow: -2px 2px 0px 0px;
 }


.btn-gul {
  color: black;
  background: #FFED00;
}
.btn-gul:hover {
background: #E61F93;
}

.btn-rosa {
  color: white;
  background: #E61F93;
}
.btn-rosa:hover {
background: #FAA94A;
color: black;
}

.btn-green {
color: white;
background: #FAA94A;
}

.btn-green:hover {
background: white;
}



#register{
margin-top:20px;
}
.my-card{
padding:20px;
background:#ffffff;
}
.get-started-form {
    width: 60%;
    margin: 60px auto;
    background: WHITE;
    color: black;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: 5px solid black;
    box-shadow: 12px 12px 2px 1px black;
}
/*
.container {
    align-items: center;
    justify-content: center;
    color: black;
   padding-top: 3rem;
   padding-bottom: 3rem;

}*/

a {
color: black;
text-decoration: none;
}

.nyform {
    width: 60%;
    margin: 60px auto;
    background: WHITE;
    padding: 80px;
    text-align: center;
    border: 5px solid black;
    box-shadow: 12px 12px 2px 1px black;
}

.nyform {
background: WHITE;
text-align: center;
    border: 5px solid black;
    box-shadow: 12px 12px 2px 1px black;
}


.nyform-home {
    width: 60%;
    margin: 40px auto;
    background: WHITE;
    padding: 80px;
    text-align: center;
    border: 5px solid black;
    box-shadow: 12px 12px 2px 0px black;
}


.nyform-blue {
background: #DAEDFF;
padding: 1rem;
width: 50%;
    margin: 60px auto;
    border: 5px solid black;
    box-shadow: 12px 12px 2px 1px black;

}
.form-control {
border-radius: none;
    display: unset;
    }

.registerform .form-control:focus {
    background-color: #daedff;
    box-shadow: none;
    border-color: black;
}

.registerform .form-control {
    border: 2px solid black;
        box-shadow: 3px 3px 1px 1px black;
        border-radius: 0;
}


.h3 {
display: inline;
justify-text: left;
}



        .card-meal {
         cursor: pointer;
         width: 40%;
         height: 60%;
         background: white;
         border-radius: 0px;
         border: 5px solid black;
         transition: all .2s;
         box-color: black;
         box-shadow: 10px 10px 0px 0px;
         color: black;
        }

        .card-meal:hover {
         box-shadow: -10px 10px 0px 0px;
        }
