<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> create profile here</h1>
<form action="/createProfile" method="post" th:object="${profile}">
    userName <input name="name" type="text" th:field="*{name}"> <br>
    <input type="submit">
</form>

<div th:if="${profile.name !=null}">
<h3> thank you for adding your profile. Information provided is as fallows: </h3>
<ul>
    <li th:text="${profile.name}"></li>
</ul>
</div>
</body>
</html>