<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head th:replace="main2 ::html_headtag">
    <meta charset="ISO-8859-1">
    <title>Food Along!</title>
</head>
<body>

<div th:replace="main2 ::html_header"></div>


<div class="banner">
    <div class="fknbox mx-auto">
        <div class="font-weight-bold px-2"><h1>Get along - with FoodAlong</h1></div>

        <a class="btn btn-gul p-3" href="/register">Get Started</a>
    </div></div>


<div th:replace="main2 ::html_footer"></div>
</body>
</html>