<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
<section class="banner2 d-flex justify-content-center align-items-center">
    <div class="container nyform mt-3 align-center">
<h2 class="text-center">Hi <span class="text-capitalize" th:text="${session.profile.name}"></span>! What are you craving today?</h2><br>

                    <h1 class="text-capitalize font-weight-bold" th:text="${meal.mealName} + '?'">Hello</h1><br><br>

                    <a class="choicebutton choicebutton-no" th:href="'/main/' + ${session.profile.id} + '?index=' + ${mealIndex} + '&choice=no'  ">NO</a>

                    <a class="choicebutton choicebutton-yes" th:href="'/main/' + ${session.profile.id} + '?index=' + ${mealIndex} + '&choice=yes'  ">YES!</a>
    </div></section>
</body>
</html>