<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

    <div class="container nyform mt-3 align-center">
<h1 class="text-center">Hej <span class="text-capitalize" th:text="${session.profile.name}"></span>! Vad vill du äta idag?</h1>

                    <h1 th:text="${meal.mealName}">Hello</h1>

                    <a class="choicebutton choicebutton-yes" th:href="'/main/' + ${session.profile.id} + '?index=' + ${mealIndex} + '&choice=no'  ">NEJ</a>

                    <a class="choicebutton choicebutton-no"th:href="'/main/' + ${session.profile.id} + '?index=' + ${mealIndex} + '&choice=yes'  ">JA</a>
                </div>
</body>
</html>