<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Style ska raderas, endast för uppvisning-->
    <style>
        h1 {color:Orange;font-size: 5rem;}div {padding: 50px 0px; text-align: center;}a {padding: 20px 20px; margin-top: 50px; font-size: 2rem;}a {text-decoration: none; color: black; padding: 20px; border: 2px solid black; margin: 50px; font-size: 2rem;}
    </style><!-- End of style -->

</head>
<body>
<h1> add your meal lsit </h1>
<form>
    <input type="text" name="">
</form>

</body>
</html>